PORT=3000
SERVER_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

DATABASE_URL=postgresql://postgres:password@localhost:5432/bootcamp-treinos-api?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=bootcamp-treinos-api

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
EMAIL=
LICENSE_KEY=

OPENCODE_API_KEY=
CONTEXT7_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=